body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
}

.App {
  /* Base styles for all components */
  font-size: 1.4rem;
  min-height: 100vh;
}

/* 
1.Add the name of your component instead of component
2.Try to keep all your styles in your own component
3.NO pixels!!! only rem... (use a pixels to rem online converter if confused)-keeps it responsive
*/

/* Nav */
.logo-img {
  max-height: 4rem;
}

/* Home */

#home {
  width: 100%;
  display: relative !important;
  min-height: 85vh;
}
.bg-image {
  background-image: url("https://images.pexels.com/photos/5722871/pexels-photo-5722871.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.imgOverlay {
  background: linear-gradient(
    90deg,
    rgba(5, 5, 2, 0.614) 39%,
    rgba(71, 14, 39, 0.305) 86%,
    rgba(73, 6, 35, 0.343) 100%
  );
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  pointer-events: none;
}
.z-top {
  z-index: 100 !important;
}
.pinktext {
  color: #ee3d89;
  font-size: 3rem;
}

/* .Container-fluid {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 200px;
    background: yellow;
} */

/* .Container-fluid {
    background-image: url("./Components/coffe.avif");
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
} */

/* COMPONENT 1 */

/* COMPONENT 2 */

/* COMPONENT 3 */

/* COMPONENT 4 */

/* COMPONENT 5 */

/* Footer */

.footer {
  background-color: bisque;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
}
